body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
  }
  header {
    background: linear-gradient(90deg, #ef5350, #fbc02d); /* Rot zu Gelb */
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  header h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px black;
  }

  .poke-icon {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
  }

  #searchInput {
    display: block;
    margin: 20px auto;
    padding: 10px 15px;
    width: 80%;
    max-width: 400px;
    font-size: 16px;
    border: 2px solid #ef5350;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
  }

  #searchInput:focus {
    border-color: #fbc02d;
    box-shadow: 0 0 8px rgba(251, 192, 45, 0.6);
  }
.pokemon-card {
    display: inline-block;
    width: 120px;
    margin: 10px;
    text-align: center;
    font-family: sans-serif;
  }

  .pokemon-card:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    background-color: #e0f7fa;
    cursor: pointer;
  }

  .pokemon-card img {
    width: 100px;
    height: 100px;
    transition: transform 0.2s ease;
  }

  .pokemon-card:hover img {
    transform: scale(1.1);
  }

  #loadMoreBtn {
    display: block;
    margin: 30px auto;
    padding: 12px 24px;
    background: linear-gradient(to right, #ef5350, #fbc02d);
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  #loadMoreBtn:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #d32f2f, #fbc02d);
  }
  
  .spinner {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #ef5350;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  footer {
    background-color: #ef5350; /* Pokéball-Rot */
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    margin-top: 50px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  }
  
  footer a {
    color: #fdd835; /* Pikachu-Gelb */
    text-decoration: none;
    font-weight: bold;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  
