* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  scroll-behavior: smooth;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 25px;
 
}


header {
  background: linear-gradient(90deg, #ef5350, #fbc02d); 
  color: white;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

#searchInput {
  display: block;
  margin: 20px auto;
  padding: 10px 15px;
  width: 80%;
  max-width: 400px;
  font-size: 16px;
  border: 2px solid #ef5350;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}
#searchInput:focus {
  border-color: #fbc02d;
  box-shadow: 0 0 8px rgba(251, 192, 45, 0.6);
}


main {
  padding: 40px 20px;
  background: url('https://www.transparenttextures.com/patterns/cubes.png');
  background-color: #f0f4f8;
  background-size: contain;
  min-height: 100vh;
}

#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  display: inline-block;
  width: 350px;
  margin: 10px;
  text-align: center;
  border: 2px solid #c7bebe;
  border-radius: 8px;

}


.pokemon-card:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  background-color: #e0f7fa;
  cursor: pointer;
}

.pokemon-card img {
  width: 150px;
  height: 150px;
  transition: transform 0.2s ease;
}

.pokemon-card:hover img {
  transform: scale(1.1);
}

#loadMoreBtn {
  display: block;
  margin: 30px auto;
  padding: 12px 24px;
  background: linear-gradient(to right, #ef5350, #fbc02d);
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 20px;
}

footer {
  background-color: #ef5350; 
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  
}

p {
  font-size: 15px;
}

footer a {
  font-size: 25px;
  color: #fdd835; 
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
